<phunit bootstrap="bootstrap.php" colors="true">
  <testsuite name="bugtrack">
        <directory>./</directory>
   </testsuite>
   
   <filter>
        <blacklist>
              <directory suffix=".php">/usr/local/zend/share</directory>    
              <file>../application/Bootstrap.php</file>
        </blacklist>
   </filter>
   <logging>
      <log type="junit" target="../build/logs/phpunit.xml" />
      <log type="testdox-html" target="../build/logs/phpunit.html" />
      <log type="tap" target="../build/logs/phpunit.tap" />
      <log type="coverage-html" target="../build/coverage"
           title="Bugtrack Coverage" charset="UTF-8" 
           yui="true" highlight="true" />
      <log type="coverage-clover"
           target="../build/logs/clover.xml" />
   </logging>
   
   <php>
        <ini name="display_errors" value="1" />
   </php>
   
</phunit>
