/*  

    Less+ by Jimmy Rosén, http://www.angrycreative.se/projekt/less-framework
    Based on Less Framework 4 by Joni Korpi, http://lessframework.com
    
*/


/* Icon font
   --------- */

@font-face {
	font-family:'RaphaelIcons';
    src: url('../font/raphaelicons-webfont.eot');
    src: url('../font/raphaelicons-webfont.woff') format('woff'), url('../font/raphaelicons-webfont.ttf') format('truetype'), url('../font/raphaelicons-webfont.svg#webfontjJTHv0E8') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}


/*  Typography presets
    ------------------  */

.gigantic {
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -2px;
}


.huge, h1 {
    font-size: 68px;
    line-height: 72px;
    letter-spacing: -1px;
}

.large, h2 {
    font-size: 42px;
    line-height: 48px;
}

.bigger, h3 {
    font-size: 26px;
    line-height: 36px;
}

.big, h4 {
    font-size: 20px;
    line-height: 30px;
}

body {
    font: 11px/16px Verdana, Arial, Helvetica, “Trebuchet MS”, Tahoma, Geneva, “Lucida Sans Unicode”, “Lucida Grande”, “MS Sans Serif”, sans-serif;
}


.small, small {
    font-size: 13px;
    line-height: 18px;
}